
SmartSearch/SmartSearch.Android/obj/Debug/81/linkdst/SmartSearch.Android.dll
SmartSearch/SmartSearch.Android/obj/Debug/81/android/bin/com.companyname.SmartSearch.apk
SmartSearch/SmartSearch.Android/obj/Debug/81/linksrc/SmartSearch.Android.dll
SmartSearch/SmartSearch.Android/obj/Debug/81/linksrc/SmartSearch.dll
SmartSearch/SmartSearch.Android/obj/Debug/81/linksrc/SmartSearch.dll.mdb
SmartSearch/SmartSearch.Android/obj/Debug/81/SmartSearch.Android.csprojAssemblyReference.cache
SmartSearch/SmartSearch.Android/obj/Debug/81/SmartSearch.Android.dll
SmartSearch/SmartSearch/bin/Debug/netstandard2.0/SmartSearch.dll
SmartSearch/SmartSearch/bin/Debug/netstandard2.0/SmartSearch.dll.mdb
SmartSearch/SmartSearch/obj/Debug/netstandard2.0/SmartSearch.pdb
SmartSearch/SmartSearch/obj/Debug/netstandard2.0/SmartSearch.dll
SmartSearch/SmartSearch/obj/Debug/netstandard2.0/SmartSearch.csproj.CoreCompileInputs.cache
SmartSearch/SmartSearch/bin/Debug/netstandard2.0/SmartSearch.pdb
SmartSearch/SmartSearch/bin/Debug/netstandard2.0/SmartSearch.dll.mdb
